@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Mulish", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-style: italic;
  font-weight: bold;
}
h1 {
  color: white;
}

li {
  cursor: pointer;
  list-style: none;
}

li:hover {
  color: #582f0e;
  border-radius: 5px;
}

ul {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  margin: 0 20vw;
  background-color: white;
  padding: 1em;
  border-radius: 40px;
}

.hide {
  display: none;
}

body {
  background-color: #582f0e;
}

.container {
  background-color: white;
  margin: 4em;
  padding: 2em;
  border-radius: 40px;
}

.description {
  margin: auto;
}

.img-container {
  background-image: url("./coffee-shop.jpeg");
  background-repeat: no-repeat;
  /* width: 1fr; */
  display: flex;
  justify-content: center;
  border-radius: 30px;
}
img {
  width: 300px;
}

.img-desc-container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-self: center;
  margin: 2em 0;
}
